@font-face {
    font-family: 'Dhyana Regular';
    src: url(/common/fonts/Dhyana/Dhyana-Regular.woff);
}

@font-face {
    font-family: 'Dhyana Bold';
    src: url(/common/fonts/Dhyana/Dhyana-Regular.woff);
}