.exclusive-promotion-container {
    position: relative;
}

.exclusive-promotion-container h2 {
    color: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 30px;
}

.exclusive-promotion-container h6 {
    position: absolute;
    top: 10px;
    right: -10px;

}

.exclusive-promotion-container {
    min-width: 1392px;
    margin-inline: auto;
    transform: translateX(-0.8%);
}

.promotion-image-container {
    min-width: 1392px;
    gap: 10px;

}

.promotion-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.promo-image {
    width: auto;
    height: auto;
    transition: transform 0.5s ease-out;
    cursor: pointer;
}

.promo-image:hover {
    transform: scale(0.9);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
}