.game-list-container h2 {
    color: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 30px;
}

.game-list-container {
    min-width: 1392px;
    margin-inline: auto;
    transform: translateX(-0.8%);
}

.image-container {
    min-width: 1392px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    transition: all .5s ease-in-out;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    margin-left: 20px;
    width: 150px;
    font-size: 28px;
    text-shadow: 1px 2px #2b2b2b;

}

.gamelist-btn {
    background-color: rgb(211, 43, 43);
    margin-left: 20px;
    width: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gamelist-btn:hover {
    background-color: white;
    color: red;
}

.gamelist-content {
    position: absolute;
    bottom: 20px;
}

.image-hover{
    width: 339px;
    transition: background 300ms ease-in-out;
    cursor: pointer;
}

.hover-1, .hover-2, .hover-3{
    height: 220px;

}

.hover-4, .hover-5, .hover-6, .hover-7{
    height: 200px;

}

.hover-1{
    width: 690px;
}

.hover-1:hover{
    background: url(/common/images/game-button-01-hover.png) !important;
} 

.hover-2:hover{
    background: url(/common/images/game-button-02-hover.png) !important;
} 

.hover-3:hover{
    background: url(/common/images/game-button-03-hover.png) !important;
} 

.hover-4:hover{
    background: url(/common/images/game-button-04-hover.png) !important;
} 

.hover-5:hover{
    background: url(/common/images/game-button-05-hover.png) !important;
} 

.hover-6:hover{
    background: url(/common/images/game-button-06-hover.png) !important;
} 

.hover-7:hover{
    background: url(/common/images/game-button-07-hover.png) !important;
} 