.navbar {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 1398px;
}

.nav-container{
    min-width: 1398px;
}

.nav-link {
    color: grey;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-decoration: none;
}

.navbar-nav{
    --bs-nav-link-hover-color: white;
    --bs-nav-link-color: white;

}

.nav-link:hover{
    color: white;
}

.navbar-nav .btn {
    margin-right: 15px;
    padding: 8px 20px;
}

.btn-login,.btn-lang{
    display: inline-block;
    padding: 6px 12px;
    border-radius: 0;
    white-space: nowrap;
    font-weight: 600;
    font-size: 15px;
}


