<div class="faqs-container">

    <div class="faqs-content" id="faqs">
        <h1 class="faqs-header text-center" data-aos="fade-up" data-aos-duration="500">FREQUENTLY ASKED QUESTIONS</h1>
        <div class="faqs-list">
            <div class="faqs-list-content">

                <div class="row">

                    <div class="col-md-12 faqs mt-4 mb-4" data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                        data-aos-delay="300" data-aos-offset="0">
                        <div class="faqs-card card">
                            <div class="card-body faqs">
                                <h5 class="card-title">What do your service plans include?</h5>
                                <div class="lists-gap">
                                    <p class="card-text">Each of our service plans includes:</p>
                                    <ul class="lists">
                                        <li>A dedicated team including an Email Marketing Specialist, Copywriter, <br>
                                            Designer, Email Marketing Technician, and Account Manager</li>
                                        <li>Customer-centered marketing strategy with Customer Lifecycle Flows <br> and
                                            Advanced Flows.</li>
                                        <li>Regular account audits and ongoing adjustments.</li>
                                        <li>Advanced segmentation and targeting.</li>
                                        <li>Optimized ROI and engagement.</li>
                                        <li>Customizable email and SMS communication from your Email Marketing <br>
                                            Specialist.</li>
                                        <li>Comprehensive monthly campaign review.</li>
                                        <li>Monthly reports that are in-depth with common KPIs we track and <br>
                                            prioritize
                                            for your account.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 faqs mt-4 mb-4" data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                        data-aos-delay="300" data-aos-offset="0">
                        <div class="faqs-card card">
                            <div class="card-body faqs">
                                <h5 class="card-title">Which ESPs & eCommerce platforms do you work with?</h5>
                                <p class="card-text">We specialize in Klaviyo, one of the only platforms that allows
                                    Cannabis-related marketing. We work with Shopify, Shopify Plus, Magento,
                                    WooCommerce, and other eCommerce stores. Our expertise ensures compliance with
                                    cannabis industry regulations across all platforms.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 faqs mt-4 mb-4" data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                        data-aos-delay="300" data-aos-offset="0">
                        <div class="faqs-card card">
                            <div class="card-body faqs">
                                <h5 class="card-title">How many emails come with my plan?</h5>
                                <p class="card-text">We have several plan options based on the number of emails you
                                    would like us to create for your strategy each month. Depending on your company &
                                    marketing objectives, your Account Executive will help you select the plan that best
                                    fits your needs.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 faqs mt-4 mb-4" data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                        data-aos-delay="300" data-aos-offset="0">
                        <div class="faqs-card card">
                            <div class="card-body faqs">
                                <h5 class="card-title">What does onboarding look like?</h5>
                                <p class="card-text">The first thing we do is have you fill out a simple onboarding
                                    document. Then, we launch your project with a kick-off call where you meet your
                                    Email Marketing Specialist.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 faqs mt-4 mb-4" data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                        data-aos-delay="300" data-aos-offset="0">
                        <div class="faqs-card card">
                            <div class="card-body faqs">
                                <h5 class="card-title">Is there a minimum commitment required for your services?</h5>
                                <p class="card-text">Absolutely not. We don’t believe in tying anyone down. If you stay,
                                    it’s because of the excellent service we provide, not a binding contract.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="mb-5"><br></div>
                </div>
            </div>
        </div>
    </div>
</div>