<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="nav-container container">
        <a class="navbar-brand logo" href="#"><img src="common/images/logo.png" class="App-logo" alt="logo" /></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar navbar-list">
                <ul class="navbar-nav ms-auto d-flex">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#" ng-click="setActiveLink('CASE STUDIES'); clickButton()" ng-class="{ 'active': activeLink === 'CASE STUDIES' }">CASE STUDIES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#main" ng-click="setActiveLink('WHAT WE DO')" ng-class="{ 'active': activeLink === 'WHAT WE DO' }">WHAT WE DO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#our-process" ng-click="setActiveLink('OUR PROCESS')" ng-class="{ 'active': activeLink === 'OUR PROCESS' }">OUR PROCESS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#faqs" ng-click="setActiveLink('FAQ')" ng-class="{ 'active': activeLink === 'FAQ' }">FAQ</a>
                    </li>
                
                </ul>
            </div>
            <div class="navbar-nav ms-auto">
                <button class="btn btn-increase text-white" ng-click="clickButton()"
                    type="submit">INCREASE MY REVENUE</button>
            </div>
        </div>

    </div>
</nav>