<div class="success-stories-container">
    <div class="torned-top">
        <img src="/common/images/success-stories/torned-top.png" alt="" width="100%">
    </div>

    <div class="rectangle-top">
        <img src="/common/images/success-stories/rectangle-top.png" alt="" width="100%">
    </div>

    <div class="success-stories-bg">
        <img src="/common/images/success-stories/success-stories-bg.png" alt="" width="100%">
    </div>

    <div class="success-stories-content">

        <div class="success-stories-text text-center mt-3">
            <h1 class="text-white" data-aos="zoom-in" data-aos-duration="1000">OUR SUCCESS STORIES</h1>
            <h6 class="text-white" data-aos="zoom-in" data-aos-duration="3000"> WILL YOU BE NEXT?</h6>
        </div>

        <div class="row mt-5 successful-stories">
            <div class="col-md-4" data-aos="fade-up"
            data-aos-anchor-placement="center-center" data-aos-duration="1000">
                <div class="card text-center mb-3">
                    <div class="card-body">
                        <img src="/common/images/success-stories/jeeter-cannabis.png" alt="" class="card-img"
                            width="100%">
                        <p class="card-text">Jeeter Cannabis</p>
                        <a href="#" class="btn btn-explore text-white" ng-click="clickButton()">EXPLORE</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4" data-aos="fade-up"
            data-aos-anchor-placement="center-center" data-aos-duration="2000">
                <div class="card text-center mb-3">
                    <div class="card-body">
                        <img src="/common/images/success-stories/destino-farms.png" alt="" class="card-img"
                            width="100%">
                        <p class="card-text">Destino Farms</p>
                        <a href="#" class="btn btn-explore text-white" ng-click="clickButton()">EXPLORE</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4" data-aos="fade-up"
            data-aos-anchor-placement="center-center" data-aos-duration="3000">
                <div class="card text-center mb-3">
                    <div class="card-body">
                        <img src="/common/images/success-stories/cannawholesalers.png" alt="" class="card-img"
                            width="100%">
                        <p class="card-text">CannaWholesalers</p>
                        <a href="#" class="btn btn-explore text-white" ng-click="clickButton()">EXPLORE</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="torned-bottom">
        <img src="/common/images/success-stories/torned-bottom.png" alt="" width="100%">
    </div>
</div>