<div class="tech-partners-container">
    <div class="tech-partners-content">
        <h1 class="tech-partners-text text-center">OUR TECH PARTNERS</h1>
        <div class="tech-partners-image-container">
        <div class="tech-partners-image-flex">
            <div ng-repeat="partner in techPartnersList" class="tech-partners-image">
                <img ng-src="/common/images/tech-partners/tech-partner-{{partner.partnerNo}}.png" alt="" width="100%">
            </div>
        </div>
    </div>
    </div>
</div>